<header>
    <span class="icon-align-right activator"></span>
<nav>
  <ul class="links-cont">
    <li><a href="/create-site">إنشاء موقع جديد</a></li>
    <li><a href="/">الرئيسية</a></li>
    <li><a href="/user/profile">الصفحة الشخصية</a></li>
  </ul>
</nav>
</header>
