<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/nav")%>
    <div class="align-center">
        <h2>للأسف </h2>
        <p>الصفحة غير موجودة:)</p>
    </div>
    <%-include("./partials/footer")%>
  </body>
</html>