/*start global*/
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --blue-color: #2980b9;
  --grey-color: #7f8c8d;
  --graylish-blue-color: #2c3e50;
  --graylish-blue-bright-color: #34495e;
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
/*end global*/
/*framework*/
.align-center {
  text-align: center;
}
.block {
  display: block;
}
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 4px;
  transition: background-color 1s ease;
}
.btn-blue {
  border: var(--blue-color) 1px solid;
  color: var(--blue-color);
  border-radius: 2.5px;
}
.btn-grey {
  border: var(--grey-color) 1px solid;
  color: var(--grey-color);
  border-radius: 2.5px;
}
.btn-blue:hover {
  background-color: var(--blue-color);
  color: white;
}

.btn-grey:hover {
  background-color: var(--grey-color);
  color: white;
}
/*end framework*/
/*nav styling*/
header{
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
header .activator {
  padding: .7em;
  border-radius:100% ;
  transition: all ease .5s;
}

header .activator:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px #c1c1c1;
}
header .activator.clicked {
  color: white;
  background-color: var(--graylish-blue-bright-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
header ul {
  display: flex;
  list-style-type: none;
  background-color: var(--graylish-blue-color);
  border-radius: 5em 0 0 5em;
  margin: .5px 0px 0px 0px;
  transition: all .5 ease;
  transform: translateX(50px);
  opacity: 0;
  pointer-events: none;
  padding: 5px;
}
header ul.opened {
  animation: opened 1s ease forwards;
}
header ul.closed {
  animation: closed 1s ease forwards;
}
header nav ul li a {
  width: 100%;
  display: block;
  padding: 5px;
  margin: 0 3px;
  color: #c1c1c1;
  transition: color 0.5 ease;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
}
/*end nav styling*/
/*form style*/
.form-container {
  width: 50%;
  margin: 0 auto;
}
.form-container input[type="text"],
.form-container textarea {
  display: block;
  padding: 5px;
  width: 100%;
  font-size: 1.2rem;
}
.form-container textarea {
  resize: none;
  min-height: 100px;
  margin-bottom: 10px;
}
.form-container .block {
  margin: 20px auto 0px;
}
/*end form styles*/
/*footer styles*/
footer {
  font-size: 1.1rem;
  margin-top: auto;
  margin-bottom: 10px;
}
footer hr {
  border: 1px solid #c1c1c1c1;
}
.icon-heart {
  color: #b71540;
}
/*end footer styles*/
/*media queries*/
@media (max-width: 750px) {
  .form-container {
    width: 85%;
  }
}
/*animation*/
@keyframes opened {
  to{
  transform: translateX(0px);
  opacity: 1;
  pointer-events: all;
  }
}
@keyframes closed {
  to{
  transform: translateX(-50px);
  opacity: 0;
  pointer-events: none;
  }
}
