/*start global*/
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --blue-color: #2980b9;
  --grey-color: #7f8c8d;
  --graylish-blue-color: #2c3e50;
  --graylish-blue-bright-color: #34495e;
  --green-color: #27ae60;
  --red-color: #c0392b;
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
/*end global*/
/*framework*/
.align-center {
  text-align: center;
}
.block {
  display: block;
}
.btn-mine {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 4px;
  transition: background-color 1s ease;
}
.btn-blue {
  border: var(--blue-color) 1px solid;
  color: var(--blue-color);
  border-radius: 2.5px;
}
.btn-green {
  border: var(--green-color) 1px solid;
  color: var(--green-color);
  border-radius: 2.5px;
}
.btn-grey {
  border: var(--grey-color) 1px solid;
  color: var(--grey-color);
  border-radius: 2.5px;
}
.btn-red {
  border: var(--red-color) 1px solid;
  color: var(--red-color);
  border-radius: 2.5px;
}
.btn-blue:hover {
  background-color: var(--blue-color);
  color: white;
}

.btn-grey:hover {
  background-color: var(--grey-color);
  color: white;
}
.btn-green:hover {
  background-color: var(--green-color);
  color: white;
}
.btn-red:hover {
  background-color: var(--red-color);
  color: white;
}
.btn-more {
  border: white 1px solid;
  color: white;
  border-radius: 2.5px;
}
.btn-more:hover {
  color: black;
  background-color: white;
}
/*end framework*/
/*nav styling*/
header {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
header .activator {
  padding: 1em;
  transition: all ease 0.5s;
}

header .activator:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px #c1c1c1;
}
header .activator.clicked {
  color: white;
  background-color: var(--graylish-blue-bright-color);
}
header ul {
  display: flex;
  list-style-type: none;
  background-color: var(--graylish-blue-color);
  border-radius: 5em 0 0 5em;
  margin: 0.5px 0px 0px 0px;
  transition: all 0.5 ease;
  transform: translateX(50px);
  opacity: 0;
  pointer-events: none;
  padding: 5px;
}
header ul.opened {
  animation: opened 1s ease forwards;
}
header ul.closed {
  animation: closed 1s ease forwards;
}
header nav ul li a {
  width: 100%;
  display: block;
  padding: 5px;
  margin: 0 3px;
  color: #c1c1c1;
  transition: color 0.5 ease;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
}
/*end nav styling*/
/*form style*/
.form-container {
  width: 50%;
  margin: 0 auto;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
  display: block;
  padding: 5px;
  width: 100%;
  font-size: 1.2rem;
}
.form-container textarea {
  resize: none;
  min-height: 100px;
  margin-bottom: 10px;
}
.form-container .block {
  margin: 20px auto 0px;
}
.form-container .pass-label {
  position: relative;
}
.form-container .pass-label .icon-eye,
.form-container .pass-label .icon-eye-slash {
  position: absolute;
  top: 40px;
  right: 47vw;
  cursor: pointer;
}
.form-container .a-reg {
  text-decoration: none;
  color: var(--graylish-blue-color);
}
/*end form styles*/
/*landing styles*/
.landing {
  background: url("/imgs/pyramids.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
/*end landin style*/
/*details styling*/
p.adress {
  color: var(--graylish-blue-color);
}
.image-cont{
  margin: 0 auto;
  width: 70vw;
}
.image-cont img{
  width: 100%;
}
/*end details styling*/
/*footer styles*/
footer {
  font-size: 1.1rem;
  margin-top: auto;
  margin-bottom: 10px;
}
hr {
  border: 1px solid #c1c1c1c1;
}
.icon-heart {
  color: #b71540;
}
/*end footer styles*/
/*media queries*/
@media (max-width: 750px) {
  .form-container {
    width: 85%;
  }
  .form-container .pass-label .icon-eye,
  .form-container .pass-label .icon-eye-slash {
    position: absolute;
    top: 40px;
    right: 80vw;
  }
}
/*animation*/
@keyframes opened {
  to {
    transform: translateX(0px);
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes closed {
  to {
    transform: translateX(-50px);
    opacity: 0;
    pointer-events: none;
  }
}
