<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs") %>
  <body>
    <%-include("../partials/nav.ejs") %>
    
   <footer class="align-center">
      <form action="/logout" method="POST" style="margin-bottom: 5px ;">
      <button class="btn btn-red log-out" type="submit">تسجيل الخروج</button>
      </form>
      <hr />
      <p>صُنع بكل ال <span class="icon-heart"></span> من قبل ابرام وديع</p>
      <p>كل الحقوق محفوظة &copy;</p>
   </footer>
  </body>
</html>
